  
  .big:hover::before {
    visibility: visible;
    animation: noise-anim-1 0.006s infinite linear alternate-reverse;
    animation-fill-mode: forwards;
}

  .big:hover::after {
    visibility: visible;
    animation: noise-anim-2 0.001s infinite linear alternate;
    animation-fill-mode: backwards;
  }

  .big::before, .big::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-play-state: paused;
  }

  .big::before {
    left: -0.17vw;
    clip-path: inset(33% 0 30% 0);
    visibility: hidden;
  }

  .big::after {
    left: 0.17vw;
    clip-path: inset(58% 0 -12% 0);
    visibility: hidden;
  }

    @keyframes noise-anim-1 {
    0% {
      clip-path: inset(33% 0 30% 0);
    }
    20% {
      clip-path: inset(33% 92% 30% 1%);
    }
    40% {
      clip-path: inset(33% 43% 30% 1%);
    }
    60% {
      clip-path: inset(33% 25% 30% 58%);
    }
    80% {
      clip-path: inset(33% 54% 30% 7%);
    }
    100% {
      clip-path: inset(33% 58% 30% 43%);
    }
  }

  @keyframes noise-anim-2 {
    100% {
      clip-path: inset(58% 0 -12% 0);
    }
    80% {
      clip-path: inset(58% 92% -12% 1%);
    }
    60% {
      clip-path: inset(58% 43% -12% 1%);
    }
    40% {
      clip-path: inset(58% 25% -12% 58%);
    }
    20% {
      clip-path: inset(58% 54% -12% 7%);
    }
    0% {
      clip-path: inset(58% 58% -12% 43%);
    }
  }