@font-face {
  font-family: Gothic;
  src: url(fonts/CyrillicGoth.otf);
}

@font-face {
  font-family: URWGothic;
  src: url(fonts/URWGothic-Book.otf);
}

body {
  background-color: #0b090c;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Gothic;
  font-style: normal;
}

h1 {
  margin-top: 16%;
  text-align: center;
  position: fixed;
  width: 100%;
  color: #d4a515;
  font-size: 0px;
}

h2 {
  text-align: center;
  position: fixed;
  width: 100%;
  font-family: Gothic;
  color: red;
  font-size: 50px;
  z-index: 2;
}

a {
  color: #d4a515;
}

a:hover {
  color: skyblue;
}

p {
  width: 97%;
  margin-left: 30px;
  margin-top: 140px;
  font-size: 26px;
  text-align: justify;
  font-family: URWGothic;
  color: #d4a515;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
  display: flex;
}

.column {
  flex-direction: column;
  display: flex;
}

.category {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: Gothic;
  font-size: 25px;
  color: #d4a515;
}

.menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.menudown, .kick {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.kick {
  width: 98%;
}

.picture {
  width: 28%;
  margin-block: 6%;
  margin-inline: 36%;
  position: fixed;
  border-radius: 3%;
  opacity: 0.5;
}

.pic {
  width: 40px;
  height: 40px;
  margin-left: 12px;
}

.social {
  margin-right: 30px;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.1;
  z-index: 0;
}

.color {
  color: red;
}

.content {
  margin-top: 154px;
}

.main {
  margin-top: 238px;
}

.gallery {
  width: 20%;
  margin-left: 10%;
  margin-bottom: 5%;
  z-index: 1;
}

.gallery img, .photo img {
  width: 100%;
  border-radius: 5%;
  border: 1px solid #d4a515;
}

.gallery div {
  color: #d4a515;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-family: URWGothic;
}

.gallery img {
  width: 400px;
  height: 400px;
}

.photo {
  width: 12%;
  margin-left: 6.8%;
  z-index: 1;
}

.photo img {
  width: 200px;
  height: 200px;
}

.photo div {
  color: #d4a515;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 36px;
  font-size: 18px;
  font-family: URWGothic;
}

.popup {
  background-color: black;
  opacity: 0.8;
  position: fixed;
}

.popup_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup_image {
  border-radius: 20px;
  border: 1px solid red;
}

.button_left img {
  width: 34px;
  height: 34px;
  bottom: 60px;
  left: calc(50% - 78px);
  position: absolute;
}

.button_right img {
  width: 34px;
  height: 34px;
  bottom: 60px;
  right: calc(50% - 78px);
  position: absolute;
}

.cross img {
  width: 24px;
  height: 24px;
  top: 120px;
  right: calc(33% - 24px);
  position: absolute;
}

img {
  object-fit: cover;
}
