@font-face {
  font-family: Gothic;
  src: url(fonts/CyrillicGoth.otf);
}

@font-face {
  font-family: PoiretOne-Regular;
  src: url(fonts/PoiretOne-Regular.ttf);
}

body {
  background-color: #0b090c;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Gothic;
  font-style: normal;
}

h1 {
  margin-top: 16%;
  text-align: center;
  position: fixed;
  width: 100%;
  color: #d4a515;
  font-size: 0px;
}

h2 {
  text-align: center;
  width: 100%;
  font-family: Gothic;
  color: darkred;
  font-size: 50px;
}

.enter {
  width: 100%;
  height: 100%;
  font-family: Gothic;
  color: red;
  position: fixed;
  font-size: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #d4a515;
}

li {
  width: 97%;
}

a:hover {
  color: skyblue;
}

p {
  width: 97%;
  margin-left: 30px;
  font-size: 27px;
  text-align: left;
  font-family: PoiretOne-Regular;
  color: #d4a515;
}

table {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 10%;
}

td {
  width: auto;
  padding: 0.3%;
  font-size: 18px;
  border-top: 1px solid #d4a515;
  border-left: 1px solid #d4a515;
  font-family: PoiretOne-Regular;
  font-weight: bold;
  text-align: left;
  color: #d4a515;
}

.resume {
  width: 96%;
  margin-left: 1%;
  margin-top: 2%;
  font-size: 24px;
  text-align: left;
  font-family: PoiretOne-Regular;
  color: #d4a515;
  position: relative;
}

.list {
  text-align: center;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.text {
  width: 34%;
  position: fixed;
}

.right {
  border-right: 1px solid #d4a515;
}

.bottom {
  border-bottom: 1px solid #d4a515;
}

.high {
  text-align: center;
}

.retext {
  width: 80%;
  font-family: Gothic;
  color: sandybrown;
  font-size: 130px;
  text-align: center;
}

.two {
  width: 34%;
  margin-left: 64%;
  position: fixed;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
  display: flex;
}

.category {
  margin-left: 30px;
  margin-top: 0.2%;
  margin-bottom: 2.5%;
  font-family: Gothic;
  font-size: 25px;
  color: #d4a515;
}

.recategory {
  width: 76%;
  font-family: Gothic;
  font-size: 55px;
  text-align: center;
  color: #d4a515;
  position: relative;
  padding-bottom: 3%;
}

.menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.menudown, .kick {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.display {
  display: none;
}

.kick {
  width: 98%;
}

.up {
  width: 30px;
}

.picture {
  width: 28%;
  margin-block: 6%;
  margin-inline: 36%;
  position: fixed;
  border-radius: 3%;
  opacity: 0.5;
}

.about {
  opacity: 1;
  margin-block: 1%;
}

.pic {
  width: 40px;
  height: 40px;
  margin-left: 12px;
}

.work {
  width: 60px;
  height: 60px;
  margin-left: 2%;
  margin-top: 2%;
}

.social {
  margin-right: 30px;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.1;
  z-index: 0;
}

.color {
  color: red;
}

.content {
  margin-bottom: 8%;
}

.gallery, .places {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 4%;
  z-index: 1;
}

.gallery img, .photo img, .places img {
  width: 100%;
  border-radius: 5%;
  border: 1px solid #d4a515;
}

.gallery div, .places div {
  color: #d4a515;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-family: PoiretOne-Regular;
  font-weight: bold;
}

.gallery img {
  width: 400px;
  height: 400px;
}

.places {
  margin-left: 3%;
  margin-right: 3%;
}

.places img {
  width: 350px;
  height: 350px;
}

.photo {
  margin-left: 3%;
  margin-right: 3%;
  z-index: 1;
}

.photo img {
  width: 200px;
  height: 200px;
}

.photo div {
  color: #d4a515;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: bold;
  font-family: PoiretOne-Regular;
}

.popup {
  background-color: black;
  opacity: 0.8;
  position: fixed;
}

.popup_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup_image {
  border-radius: 20px;
  border: 1px solid red;
}

.button_left img {
  width: 34px;
  height: 34px;
  bottom: 60px;
  left: calc(50% - 78px);
  position: absolute;
}

.button_right img {
  width: 34px;
  height: 34px;
  bottom: 60px;
  right: calc(50% - 78px);
  position: absolute;
}

.cross img {
  width: 24px;
  height: 24px;
  top: 2%;
  right: 1%;
  position: absolute;
}

img {
  object-fit: cover;
}

.repic {
  width: 350px;
  height: 350px;
  margin-left: 78%;
  border-radius: 50%;
  border: 1px solid #d4a515;
  position: absolute;
}
