@font-face {
  font-family: Gothic;
  src: url(fonts/CyrillicGoth.otf);
}

body {
  background-color: #0b090c;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Gothic;
  font-style: normal;
}

h1 {
  margin-top: 16%;
  text-align: center;
  position: fixed;
  width: 100%;
  color: #d4a515;
  font-size: 0px;
}

h2 {
  text-align: center;
  position: fixed;
  width: 100%;
  font-family: Gothic;
  color: white;
  font-weight: 40px;
}

a {
  color: #d4a515;
}

a:hover {
  color: skyblue;
}

p {
  margin-left: 40px;
  padding-right: 55px;
  margin-top: 45px;
  font-size: 19px;
  font-family: Gothic;
  color: white;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
  display: flex;
}

.category {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: Gothic;
  font-size: 25px;
  color: #d4a515;
}

.menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.menudown {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.picture {
  width: 28%;
  margin-block: 6%;
  margin-inline: 36%;
  position: fixed;
  border-radius: 3%;
  opacity: 0.4;
}

.pic {
  width: 40px;
  height: 40px;
  margin-left: 12px;
}

.social {
  margin-right: 30px;
}

